
@import url(colours.css);
@import url(variables.css);
@import url(reset.css);

html, body {
	font-size: 14px;
	width: 100vw;
	height: 100vh;
}

body {
	font-family: var(--font-base);
	color: var(--primary-fg);
	background-color: var(--primary-bg);
}

nav {
	padding: var(--spacing-2) var(--spacing-4);
	box-shadow: var(--shadow-lg);
	background-color: var(--menu-bg);
	color: var(--menu-fg);
	display: flex;

	.logo {
		text-transform: uppercase;
		font-size: var(--font-lg);
		font-weight: bold;
		flex-grow: 1;
	}

	menu {
		list-style-type: none;
		flex-grow: 0;

		li {
			display: inline-block;
		}
	}

	a {
		text-decoration: none;
		color: var(--menu-fg);
		padding: var(--spacing-2) var(--spacing-4);
		border-radius: var(--spacing-2);
		display: inline-block;
		text-transform: uppercase;
		font-weight: 600;

		&:hover {
			background-color: var(--menu-hover);
		}
	}
}

main {
	padding: var(--spacing-4);
	margin: 0 auto var(--spacing-8);
	max-width: 800px;
}

h1 {
	font-size: var(--font-2xl);
	margin-bottom: var(--spacing-2);
}
h2 {
	font-size: var(--font-xl);
	margin-bottom: var(--spacing-2);
}
p {
	margin-bottom: var(--spacing-4);
}

/* content */
.card {
	padding: var(--spacing-4);
	box-shadow: var(--shadow-lg);
	border-radius: var(--spacing-2);
	border: var(--card-border);
	background-color: var(--card-bg);
	color: var(--card-fg);

	img {
		margin: auto;
	}
}

/* footer */
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: var(--spacing-2);
	display: flex;
	justify-content: center;

	details {
		position: relative;
		display: inline-block;

		summary {
			list-style-type: none;
		}

		.card {
			position: fixed;
			top: auto;
			left: var(--spacing-8);
			bottom: var(--spacing-16);
			right: var(--spacing-8);
		}
	}
}


/* forms */
label {
	margin: var(--spacing-4) 0;
	text-transform: uppercase;
	display: flex;
	gap: var(--spacing-4);
	align-items: center;
}

input, select {
	flex-grow: 1;
	background-color: var(--form-bg);
	color: var(--form-fg);
	border: var(--form-border);
	padding: var(--spacing-2) var(--spacing-4);
	border-radius: var(--spacing-2);
}

button, .btn {
	text-transform: uppercase;
	padding: var(--spacing-2) var(--spacing-4);
	background-color: var(--button-bg);
	color: var(--button-fg);
	border: var(--button-border);
	border-radius: var(--spacing-2);
	cursor: pointer;
	display: flex;
	gap: var(--spacing-1);
	align-content: center;
	justify-content: center;

	&[disabled], &[disabled]:hover {
		background-color: var(--button-disabled-bg);
		color: var(--button-disabled-fg);
		border: var(--button-disabled-border);
		cursor: not-allowed;
	}

	&:hover {
		background-color: var(--button-hover-bg);
		color: var(--button-hover-fg);
		border: var(--button-hover-border);
	}

	svg {
		width: var(--spacing-6);
		height: var(--spacing-6);
	}
}

/* colour picker */
.colour-picker {
	display: flex;
	gap: var(--spacing-4);
	justify-content: center;

	.badge {
		display: inline-block;
		width: var(--spacing-6);
		height: var(--spacing-6);
		border-radius: 100%;
	}
}

/* clock */
.clock {
	width: 332px;
	position: relative;
	padding: var(--spacing-4) var(--spacing-4) var(--spacing-2);
	box-shadow: var(--shadow-lg);

	canvas, figure img {
		width: 300px;
		height: 300px;
	}

	figure {
		min-height: 328px;
		width: 300px;
	}

	figcaption {
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		position: absolute;
		left: var(--spacing-4);
		right: var(--spacing-4);
		bottom: var(--spacing-3);
	}

	canvas {
		position: absolute;
		top: var(--spacing-4);
		right: var(--spacing-4);
	}

	small {
		position: absolute;
		top: var(--spacing-2);
		left: var(--spacing-2);
		z-index: 50;
	}

	figure img {
		position: absolute;
		top: var(--spacing-4);
		right: var(--spacing-4);
	}

	button.remove, button.erase {
		border-radius: 100%;
		background-color: var(--card-bg);
		color: var(--card-fg);
		border: 1px solid var(--card-fg);
		padding: var(--spacing-3);
	}

	button.remove {
		position: absolute;
		top: var(--spacing-2);
		right: var(--spacing-2);
		z-index: 50;
		color: var(--red-600);
		border: 1px solid var(--red-600);
	}

	button.erase {
		position: absolute;
		bottom: var(--spacing-2);
		right: var(--spacing-2);
		z-index: 50;
	}
}
