
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	font-size: 14px;
	@apply w-full h-full bg-base-300 text-base-content;
}

main {
	@apply p-4 md:mx-auto mb-8;
}

h1 {
	@apply text-2xl mb-2;
}
h2 {
	@apply text-xl mb-2;
}
p {
	@apply mb-4;
}

.label {
	@apply font-sans font-semibold text-xs uppercase mt-2 flex items-center gap-2;
}
.link {
	@apply text-blue-700 underline hover:text-blue-400 hover:no-underline;
}

.btn {
	@apply uppercase;
}

/* clock */
.clock {
	width: 332px;
	@apply relative px-4 pt-4 pb-2 bg-base-100 rounded-md shadow-lg;

	canvas, figure img {
		width: 300px;
		height: 300px;
	}

	figure {
		min-height: 328px;
		width: 300px;
	}
}

.clock figcaption {
	top: 320px;
	@apply uppercase font-bold block text-center absolute left-4 right-4;
}

.clock canvas {
	@apply absolute top-4 left-4;
}

.clock small {
	@apply !absolute top-2 left-2 z-50;
}

.clock svg {
	@apply h-6 w-6;
}

.clock figure img {
	@apply absolute top-4 left-4;
}

.clock button.remove {
	@apply !absolute top-2 right-2 z-50;
}

.clock button.erase {
	@apply !absolute bottom-2 right-2 z-50;
}
